   {% extends "blog/base.html" %}
   {% load static %}
   {% block content %}
   {% load humanize %}
            <div id="content-wrapper">
            <div class="container-fluid pb-0">
                <div class="video-block section-padding">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="single-video-left">
                                <div class="single-video-author box mb-3">
                                     <h6>Leave your reply to {{comment.author}}'s comment</h6>
                                    <div class="media g-mb-30 media-comment ">
                                    <img class="img-author " src="{{comment.author.profile.image.url}} " alt="Image Description ">
                                    <div class="media-body u-shadow-v18 g-bg-secondary g-pa-30 ">
                                        {% if comment.author == user %}
                                        <div style="float: right;">
                                            <a href="#" class="right-action-link text-gray" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <i class="fa fa-ellipsis-v " aria-hidden="true"></i> </a>
                                            <div class="dropdown-menu dropdown-menu-right">
                                                {% if not comment.approved_comment %}
                                                <a class="dropdown-item" href="{% url 'comment_approve' pk=comment.pk %}"><i class="fas fa-fw fa-check-circle"></i> &nbsp; Approve It</a>
                                                <a class="dropdown-item" href="{% url 'comment_remove' pk=comment.pk %}"><i class="fas fa-fw fa-times-circle"></i> &nbsp; Delete Comment.</a>
                                                <a class="dropdown-item" href="#"><i class="fas fa-fw fa-times"></i> &nbsp; Close</a>
                                                {% else %}
                                                <a class="dropdown-item" href="{% url 'comment_remove' pk=comment.pk %}"><i class="fas fa-fw fa-times-circle"></i> &nbsp; Delete Comment.</a>
                                                {% endif %}
                                            </div>
                                        </div>
                                        {%else%}
                                        <div class="btn-group float-right right-action">
                                            <a href="#" class="right-action-link text-gray" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <i class="fa fa-caret-down" aria-hidden="true"></i> </a>
                                            <div class="dropdown-menu dropdown-menu-right">
                                                <a class="dropdown-item" href="#"><i class="fas fa-fw fa-comment"></i>Reply</a>
                                            </div>
                                        </div>
                                        {%endif%}
                                        <div>
                                            <p><a href="#"><strong>{{ comment.author }}</strong></a> <span title="" data-placement="top" data-toggle="tooltip" data-original-title="Verified"><i class="fas fa-check-circle text-success"></i>&emsp;</span><small>  {{ comment.created_date }}</small></p>
                                        </div>

                                        <i>{{comment.text|linebreaks }}</i><br
                                      <ul class="list-inline d-sm-flex my-0 ">
                                            <li class="list-inline-item g-mr-20 ">
                                                <a class="u-link-v5 g-color-gray-dark-v4 g-color-primary--hover " href="#! "><small>
                                                    <i class="fa fa-thumbs-up g-pos-rel g-top-1 g-mr-3 "></i>
                                                    178&emsp;</small>
                                                </a>
                                            </li>
                                            <li class="list-inline-item g-mr-20 ">
                                                <a class="u-link-v5 g-color-gray-dark-v4 g-color-primary--hover " href="#! "><small>
                                                    <i class="fa fa-thumbs-down g-pos-rel g-top-1 g-mr-3 "></i>
                                                    34 &emsp;</small>
                                                </a>
                                            </li>
                                            <li class="list-inline-item ml-auto ">
                                                <a class="u-link-v5 g-color-gray-dark-v4 g-color-primary--hover " href="#"><small>
                                                    <i class="fa fa-reply g-pos-rel g-top-1 g-mr-3 "></i>
                                                    Reply</small>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                   <hr><br>
                                    <form method="POST">{% csrf_token %}
                                        <div class="col-lg-12">
                                            <div class="row">
                                                <div class="col-lg-10">
                                                    <div class="form-group">
                                                        <textarea rows="3" id="e2" name="{{form.text.html_name}}" class="form-control"></textarea>
                                                    </div>
                                                </div>
                                                <div class="col-lg-2">
                                                    <div class="osahan-area text-center mt-3">
                                                        <button type="submit" class="btn btn-outline-primary">Reply</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                {% for reply in comments %}
                                {% if reply.parent == comment %}
                                {% if user.is_authenticated or comment.approved_comment  %}
                                <div class="media g-mb-30 media-comment ">
                                    <img class="img-author " src="{{comment.author.profile.image.url}} " alt="Image Description ">
                                    <div class="media-body u-shadow-v18 g-bg-secondary g-pa-30 ">
                                        {% if reply.author == user %}
                                        <div style="float: right;">
                                            <a href="#" class="right-action-link text-gray" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <i class="fa fa-ellipsis-v " aria-hidden="true"></i> </a>
                                            <div class="dropdown-menu dropdown-menu-right">
                                                {% if not reply.approved_comment %}
                                                <a class="dropdown-item" href="{% url 'comment_approve' pk=reply.pk %}"><i class="fas fa-fw fa-check-circle"></i> &nbsp; Approve It</a>
                                                <a class="dropdown-item" href="{% url 'comment_remove' pk=reply.pk %}"><i class="fas fa-fw fa-times-circle"></i> &nbsp; Delete Comment.</a>
                                                <a class="dropdown-item" href="#"><i class="fas fa-fw fa-times"></i> &nbsp; Close</a>
                                                {% else %}
                                                <a class="dropdown-item" href="{% url 'comment_remove' pk=reply.pk %}"><i class="fas fa-fw fa-times-circle"></i> &nbsp; Delete Comment.</a>
                                                {% endif %}
                                            </div>
                                        </div>
                                        {%else%}
                                        <div class="btn-group float-right right-action">
                                            <a href="#" class="right-action-link text-gray" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <i class="fa fa-caret-down" aria-hidden="true"></i> </a>
                                            <div class="dropdown-menu dropdown-menu-right">
                                                <a class="dropdown-item" href="#"><i class="fas fa-fw fa-comment"></i>Reply</a>
                                            </div>
                                        </div>
                                        {%endif%}
                                        <div>
                                            <p><a href="#"><strong>{{ reply.author }}</strong></a> <span title="" data-placement="top" data-toggle="tooltip" data-original-title="Verified"><i class="fas fa-check-circle text-success"></i>&emsp;</span><small>  {{ comment.created_date }}</small></p>

                                        </div>

                                        <i>{{reply.text|linebreaks }}</i><br>

                                        <ul class="list-inline d-sm-flex my-0 ">
                                            <li class="list-inline-item g-mr-20 ">
                                                <a class="u-link-v5 g-color-gray-dark-v4 g-color-primary--hover " href="#! "><small>
                                                    <i class="fa fa-thumbs-up g-pos-rel g-top-1 g-mr-3 "></i>
                                                    178&emsp;</small>
                                                </a>
                                            </li>
                                            <li class="list-inline-item g-mr-20 ">
                                                <a class="u-link-v5 g-color-gray-dark-v4 g-color-primary--hover " href="#! "><small>
                                                    <i class="fa fa-thumbs-down g-pos-rel g-top-1 g-mr-3 "></i>
                                                    34 &emsp;</small>
                                                </a>
                                            </li>
                                            <li class="list-inline-item ml-auto ">
                                                <a class="u-link-v5 g-color-gray-dark-v4 g-color-primary--hover " href="#"><small>
                                                    <i class="fa fa-reply g-pos-rel g-top-1 g-mr-3 "></i>
                                                    {{reply.count}} Reply</small>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                {% endif %}{% endif %}
                                {% empty %}<p>No reply here yet :-)</p>
                                {% endfor %}

                                </div>
                               
                            </div>
                        </div>
                        <div class="col-md-4">
                    <div class="single-video-right">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="adblock">
                                    <div class="img">
                                        Google AdSense<br> 336 x 280
                                    </div>
                                </div>
                                <div class="main-title">
                                    <div class="btn-group float-right right-action">
                                        <a href="#" class="right-action-link text-gray" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Sort by <i class="fa fa-caret-down" aria-hidden="true"></i>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-right">
                                            <a class="dropdown-item" href="#"><i class="fas fa-fw fa-star"></i> &nbsp; Top Rated</a>
                                            <a class="dropdown-item" href="#"><i class="fas fa-fw fa-signal"></i> &nbsp; Viewed</a>
                                            <a class="dropdown-item" href="#"><i class="fas fa-fw fa-times-circle"></i> &nbsp; Close</a>
                                        </div>
                                    </div>
                                    <h6>Up Next</h6>
                                </div>
                            </div>
                            <div class="col-md-12">
                                {% for post in posts %}
                                {% if post.video %}
                                <div class="video-card video-card-list">
                                    <div class="video-card-image">
                                        <a class="play-icon" href="{% url 'post_detail' post.id %}"><i class="fas fa-play-circle"></i></a>
                                        <a href="{% url 'post_detail' post.id %}"><img class="img-fluid" src="{{post.photo.url}}" alt=""></a>
                                        <div class="time">3:50</div>
                                    </div>
                                    <div class="video-card-body">
                                        <div class="btn-group float-right right-action">
                                            <a href="#" class="right-action-link text-gray" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                                            </a>
                                            <div class="dropdown-menu dropdown-menu-right">
                                                <a class="dropdown-item" href="#"><i class="fas fa-fw fa-star"></i> &nbsp; Top Rated</a>
                                                <a class="dropdown-item" href="#"><i class="fas fa-fw fa-signal"></i> &nbsp; Viewed</a>
                                                <a class="dropdown-item" href="#"><i class="fas fa-fw fa-times-circle"></i> &nbsp; Close</a>
                                            </div>
                                        </div>
                                        <div class="video-title">
                                            <a href="{% url 'post_detail' post.id %}">{{post.title}}</a>
                                        </div>
                                        <div class="video-page text-success">
                                            {{post.category}} <a title="" data-placement="top" data-toggle="tooltip" href="#" data-original-title="Verified"><i class="fas fa-check-circle text-success"></i></a>
                                        </div>
                                        <div class="video-view">
                                            1.8M views &nbsp;<i class="fas fa-calendar-alt"></i>{{ post.date_posted|naturaltime }}
                                        </div>
                                    </div>
                                </div>
                                {% elif post.photo %}
                                <div class="video-card video-card-list">
                                    <div class="video-card-image">
                                        <a class="play-icon" href="{% url 'post_detail' post.id %}"><i class="fas fa-expand"></i></a>
                                        <a href="{% url 'post_detail' post.id %}"><img class="img-fluid" src="{{post.photo.url}}" alt=""></a>
                                    </div>
                                    <div class="video-card-body">
                                        <div class="btn-group float-right right-action">
                                            <a href="#" class="right-action-link text-gray" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                                            </a>
                                            <div class="dropdown-menu dropdown-menu-right">
                                                <a class="dropdown-item" href="#"><i class="fas fa-fw fa-star"></i> &nbsp; Top Rated</a>
                                                <a class="dropdown-item" href="#"><i class="fas fa-fw fa-signal"></i> &nbsp; Viewed</a>
                                                <a class="dropdown-item" href="#"><i class="fas fa-fw fa-times-circle"></i> &nbsp; Close</a>
                                            </div>
                                        </div>
                                        <div class="video-title">
                                            <a href="{% url 'post_detail' post.id %}">{{post.title}}</a>
                                        </div>
                                        <div class="video-page text-success">
                                            {{post.category}}<a title="" data-placement="top" data-toggle="tooltip" href="#" data-original-title="Verified"><i class="fas fa-check-circle text-success"></i></a>
                                        </div>
                                        <div class="video-view">
                                            1.8M views &nbsp;<i class="fas fa-calendar-alt"></i>{{ post.date_posted|naturaltime }}
                                        </div>
                                    </div>
                                </div>
                                {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
                    </div>
                </div>
            </div>
            <!-- /.container-fluid -->
            <!-- Sticky Footer -->

        </div>
        <!-- /.content-wrapper -->
   {% endblock content %}