{% extends "blog/base.html" %}
{% load static %}
{% load humanize %}
{% block content %}
<div id="content-wrapper">
    <div class="container-fluid pb-0">
        <div class="top-mobile-search">
           <div class="row">
                <div class="col-md-12">
                    <form class="mobile-search">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Search for..." name="q"  value="{{ request.GET.q }}">
                            <div class="input-group-append">
                                <button type="submit" class="btn btn-primary" ><i class="fas fa-search"></i></button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="top-category section-padding mb-4">
            <div class="row">
                <div class="col-md-12">
                  {% if users %}
                     <div class="main-title">
                        <div class="btn-group float-right right-action">
                            <a href="#" class="right-action-link text-gray" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Sort by <i class="fa fa-caret-down" aria-hidden="true"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right">
                                <a class="dropdown-item" href="#"><i class="fas fa-fw fa-star"></i> &nbsp; Top Rated</a>
                                <a class="dropdown-item" href="#"><i class="fas fa-fw fa-signal"></i> &nbsp; Viewed</a>
                                <a class="dropdown-item" href="#"><i class="fas fa-fw fa-times-circle"></i> &nbsp; Close</a>
                            </div>
                        </div>
                        <h6>Searched results</h6>
                    </div>
                   {% for result in users %}
                    {% if not result in blacklisters %}
                    <div class="single-video-author box mb-3">
                        <div style="float: right;" >
                            {% if user.is_authenticated %}
                            <a href="{% url 'newconversation' result.username %}" class="btn btn btn-primary" type="button"><i class="fas fa-envelope"></i></a>
                            {% if result.username != user.username %}
                            {% if not result in friends %}
                            <a href="{% url 'change_friends' 'add' result.pk %}" class="btn btn btn-primary" type="button"><i class="fas fa-user-plus"></i></a>
                            {% endif %}
                            {% endif %}
                            {% endif %}
                        </div>
                        <img class="img-author" src="{{ result.profile.image.url }}" alt="">
                        <p><a href="{% url 'profile_me' result.pk %}"><strong>{{result.username}}</strong></a> <span title="" data-placement="top" data-toggle="tooltip" data-original-title="Verified"><i class="fas fa-check-circle text-success"></i></span>{% if  result in friends %}
                            <small><strong><i>.following</i></strong></small>{% endif %}</p>
                        <small> <i class="fas fa-users"></i>&nbsp; {{follower.count}} followers&nbsp;</small>
                    </div>
                    {% endif %}
                 {% endfor %}


                 {% for post in blogs %}
                    {% if post.video %}
                    <div class="video-card video-card-list">
                        <div class="btn-group float-right right-action">
                            <a href="#" class="right-action-link text-gray" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right">
                                <a class="dropdown-item" href="#"><i class="fas fa-fw fa-star"></i> &nbsp; Top Rated</a>
                                <a class="dropdown-item" href="#"><i class="fas fa-fw fa-signal"></i> &nbsp; Viewed</a>
                                <a class="dropdown-item" href="#"><i class="fas fa-fw fa-times-circle"></i> &nbsp; Close</a>
                            </div>
                        </div>
                        <div class="single-video-author box mb-3">
                            <div  class="video-card-image">
                            <a class="play-icon" href="{% url 'post_detail' post.id %}"><i class="fas fa-play-circle"></i></a>
                             {% if post.thumbnail %}
                                 <a href="{% url 'post_detail' post.id %}"><img src="{{post.thumbnail.url}}" width="100%" height="140"alt=""></a>
                                {% else %}
                            <a href="{% url 'post_detail' post.id %}">  <video  id="video"  >
                                <source src="{{post.video.url}}" type="video/mp4"> Your browser does not support the video tag.
                            </video></a>{% endif %}
                            <div  class="time"> <time id="duration">00:00</time></div>
                        </div>
                            <div class="video-card-body">
                                <div class="video-title">
                                    <a href="{% url 'post_detail' post.id %}">{{post.title}}</a>
                                </div>
                                <div class="video-page text-success">
                                    <p><a href="{% url 'profile_me' post.author.pk %}"><strong>{{post.author}}</strong></a> <span title="" data-placement="top" data-toggle="tooltip" data-original-title="Verified"><i class="fas fa-check-circle text-success"></i></span>{% if  post.author in friends %}
                                        <small><strong><i>.following</i></strong></small>{% endif %}</p> </div>
                                <div class="video-view">
                                    <small>{{post.total_views}} views&nbsp;<i class="fas fa-thumb-up"></i>&nbsp;{{post.total_likes}} likes&nbsp;<i class="fas fa-calendar-alt"></i>&nbsp;{{ post.date_posted|naturaltime }}</small>
                                </div>
                            </div><br>
                        </div>
                    </div>
                    {% elif post.photo %}
                    <div class="video-card video-card-list">
                        <div class="single-video-author box mb-3">
                            <div class="video-card-image">
                                <a class="play-icon" href="{% url 'post_detail' post.id %}"><i class="fas fa-image"></i></a>
                                <a href="{% url 'post_detail' post.id %}"><img class="img-fluid" src="{{post.photo.url}}" alt=""></a>
                            </div>
                            <div class="video-card-body">
                                <div class="btn-group float-right right-action">
                                    <a href="#" class="right-action-link text-gray" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <a class="dropdown-item" href="#"><i class="fas fa-fw fa-star"></i> &nbsp; Top Rated</a>
                                        <a class="dropdown-item" href="#"><i class="fas fa-fw fa-signal"></i> &nbsp; Viewed</a>
                                        <a class="dropdown-item" href="#"><i class="fas fa-fw fa-times-circle"></i> &nbsp; Close</a>
                                    </div>
                                </div>
                                <div class="video-title">
                                    <a href="{% url 'post_detail' post.id %}">{{post.title}}</a>
                                </div>
                                <div class="video-page text-success">
                                    {{post.category}}<a title="" data-placement="top" data-toggle="tooltip" href="#" data-original-title="Verified"><i class="fas fa-check-circle text-success"></i></a>
                                </div>
                                <div class="video-view">
                                    {{post.total_likes}} likes&nbsp;<i class="fas fa-calendar-alt"></i> {{ post.date_posted|naturaltime }}
                                </div>
                            </div><br>
                        </div></div>
                    {% endif %}
                    {% endfor %}
                    {% else %}
                    <div class="owl-carousel owl-carousel-category">
                        <div class="item">
                            {% if user.is_authenticated %}
                            <div class="category-item">
                                <a href="{% url 'profile_me'  user.pk%}">
                                    <div class="d-flex justify-content-center h-100">
                                        <div class="image_outer_container">
                                            <div class="image_inner_container">
                                                <img src="{{user.profile.image.url}}" >
                                            </div>
                                        </div>
                                    </div>
                                    <h6>{{user.username}}</h6>
                                    <small><b>{{friend.count}} followers</b></small></a>
                            </div> {% endif %}
                        </div>
                        {% for friend in friends %}
                        <div class="item">
                            <div class="category-item">
                                <a href="{% url 'profile_me'  friend.pk%}">
                                    <div class="d-flex justify-content-center h-100">
                                        <div class="image_outer_container">
                                            <div class="image_inner_container">
                                                <img height="5" width="50%" src="{{friend.profile.image.url}}" >
                                            </div>
                                        </div>
                                    </div>
                                    <h6>{{friend.username}}</h6>
                                    <small><b>{{friend.email}}</b></small>
                                </a>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="video-block section-padding">
            <div class="row">
                <div class="col-md-12">
                    <div class="main-title">
                        <div class="btn-group float-right right-action">
                            <a href="#" class="right-action-link text-gray" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Sort by <i class="fa fa-caret-down" aria-hidden="true"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right">
                                <a class="dropdown-item" href="#"><i class="fas fa-fw fa-star"></i> &nbsp; Top Rated</a>
                                <a class="dropdown-item" href="#"><i class="fas fa-fw fa-signal"></i> &nbsp; Viewed</a>
                                <a class="dropdown-item" href="#"><i class="fas fa-fw fa-times-circle"></i> &nbsp; Close</a>
                            </div>
                        </div>
                        <h6>Featured Watchlist</h6>
                    </div>
                </div>
                {% for post in posts %}
                {% if post.video %}
                <div class="col-xl-3 col-sm-6 mb-3">
                    <div class="video-card">
                        <div  class="video-card-image">
                            <a class="play-icon" href="{% url 'post_detail' post.id %}"><i class="fas fa-play-circle"></i></a>
                             {% if post.thumbnail %}
                                 <a href="{% url 'post_detail' post.id %}"><img src="{{post.thumbnail.url}}" width="100%" height="140"alt=""></a>
                                {% else %}
                            <a href="{% url 'post_detail' post.id %}">  <video  id="video"  >
                                <source src="{{post.video.url}}" type="video/mp4"> Your browser does not support the video tag.
                            </video></a>{% endif %}
                            <div  class="time"> <time id="duration">00:00</time></div>
                        </div>
                        <div class="video-card-body">
                            <div class="video-title">
                                <img class="img-author" src="{{post.author.profile.image.url}}" alt="">
                                <a href="{% url 'post_detail' post.id %}">{{post.title}}</a>
                            </div>
                            <div class="video-page text-success">
                                {{post.author}} <a title="" data-placement="top" data-toggle="tooltip" href="#" data-original-title="Verified"><i class="fas fa-check-circle text-success"></i></a>
                            </div><hr>
                            <div class="video-view">
                               <i class="fas fa-eye"></i> {{post.total_views}} views &ensp;<i class="fas fa-thumb-up"></i> {{post.total_likes}} likes &ensp;<i class="fas fa-calendar-alt"></i> {{post.date_posted|naturaltime}}
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
                {% endfor %}
            </div>
        </div>
        <hr class="mt-0">
    </div>

    <!-- /.container-fluid -->
    <!-- Sticky Footer -->
    <footer class="sticky-footer">
        <p class="mt-1 mb-0"><strong class="text-dark">Branagram</strong>.
            <small class="mt-0 mb-0"><a target="_blank" href="#">Term and policy</a>
            </small>
            <small class="mt-0 mb-0"><a target="_blank" href="#">Copyright 2020</a>
            </small>
        </p>
    </footer>{% endif %}
</div>

{% endblock content %}