 {% extends "blog/base.html" %} {% load static %} {% block content %}
<div class="single-channel-page" id="content-wrapper">
    <div class="single-channel-image">
        <img class="img-fluid" alt="" src="{{users.profile.cover_image.url}}">
        <div class="channel-profile">
            <img class="channel-profile-img" alt="" src="{{users.profile.image.url}}">
            <div class="social hidden-xs">
                Social &nbsp;
                <a class="fb" href="#">Facebook</a>
                <a class="tw" href="#">Twitter</a>
                <a class="gp" href="#">Google</a>
            </div>
        </div>
    </div>
    <div class="single-channel-nav">
        <nav class="navbar navbar-expand-lg navbar-light">
            <a class="channel-brand" href="#">{{users.username}}<span title="" data-placement="top" data-toggle="tooltip" data-original-title="Verified"><i class="fas fa-check-circle text-success"></i></span></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                 <ul class="navbar-nav mr-auto">
                    <li class="nav-item dropdown ">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Profile
                        </a>
                        <div class="dropdown-menu " aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="{% url 'profile_me' users.pk %}">View Profile</a>
                              {% if  users.username == user.username %}
                            <a class="dropdown-item" href="{% url 'profile' %}">Edit Profile</a>
                              {% endif %}
                            <div class="dropdown-divider"></div>
                            {% if users in blacklists and users.username != user.username %}
                            <a class="dropdown-item" href="{% url 'block_pk' users.pk %}">Unblock user</a>
                            {% elif not users in blacklists %}
                             <a class="dropdown-item" href="{% url 'block_pk' users.pk %}">Block user</a>
                            {% endif %}
                        </div>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link active" href="{% url 'profile_pk' users.pk %}">Posts</a>
                    </li>
                    <li class="nav-item  ">
                        <a class="nav-link" href="{% url 'user-category' users.username %}">Gallery <span class="sr-only">(current)</span></a>
                    </li>

                    <li class="nav-item ">
                        <a class="nav-link" href="{% url 'user-playlist' users.username %}">Playlist</a>
                    </li>
                    {% if users.username == user.username %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'favorited-posts' users.username %}">Favorites</a>
                    </li>{% endif %}
                    <li class="nav-item">
                        <a class="nav-link" href="#">About</a>
                    </li>

                </ul>
                <form class="mobile-search">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Search for..." name="q"  value="{{ request.GET.q }}">
                            <div class="input-group-append">
                                <button type="submit" class="btn btn-primary" ><i class="fas fa-search"></i></button>
                            </div>
                        </div>
                    </form>
                <form class="form-inline my-2 my-lg-0">
                     <div style="float: right;" >
                            {% if user.is_authenticated %}
                            {% if users.username != user.username and not users in blacklists and not users in blacklisters %}
                            <a href="{% url 'newconversation' users.username %}" class="btn btn btn-primary" type="button"><i class="fas fa-envelope"></i> Message</a>
                            {% if not users in friends %}
                            <a href="{% url 'change_friends' 'add' users.pk %}" class="btn btn btn-primary" type="button"><i class="fas fa-user-plus"></i> Follow</a>
                            {% elif users in friends %}
                            <a href="{% url 'change_friends' 'remove' users.pk %}" class="btn btn btn-outline-danger" type="button"><i class="fas fa-user-minus"></i></a>
                            {% endif %}{% endif %}
                            {% endif %}
                        </div>
                </form>
            </div>
        </nav>
    </div>
    <div class="container-fluid">
        <div class="video-block section-padding">
            <div class="row">
                <div class="col-md-12">
                    <div class="main-title">
                        <div class="btn-group float-right right-action">
                            <a href="#" class="right-action-link text-gray" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Sort by <i class="fa fa-caret-down" aria-hidden="true"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right">
                                <a class="dropdown-item" href="#"><i class="fas fa-fw fa-star"></i> &nbsp; Top Rated</a>
                                <a class="dropdown-item" href="#"><i class="fas fa-fw fa-signal"></i> &nbsp; Viewed</a>
                                <a class="dropdown-item" href="#"><i class="fas fa-fw fa-times-circle"></i> &nbsp; Close</a>
                            </div>
                        </div>
                        <h6>Posts</h6>
                    </div>
                </div>
                {% for post in user_posts %} {% if post.video %}
                <div class="col-xl-3 col-sm-6 mb-3">
                    <div class="video-card">
                        <div class="video-card-image">
                            <a class="play-icon" href="#"><i class="fas fa-play-circle"></i></a>
                            <a href="{% url 'post_detail' post.id %}"> <video width="100%" height="200">
                                <source src="{{post.video.url}}" type="video/mp4"> Your browser does not support the video tag.
                            </video></a>
                            <time id="duration">00:00</time>
                        </div>
                        <div class="video-card-body">
                            <div class="video-title">
                                <a href="{% url 'post_detail' post.id %}">{{post.title}}</a>
                            </div>
                            <div class="video-page text-success">
                                {{post.category}} <a title="" data-placement="top" data-toggle="tooltip" href="#" data-original-title="Verified"><i class="fas fa-check-circle text-success"></i></a>
                            </div>
                            <div class="video-view">
                                {{post.total_likes}} likes&nbsp;<i class="fas fa-calendar-alt"></i> {{ post.date_posted }}

                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
                {% if post.photo %}
                <div class="col-sm-6 col-md-4 col-lg-4 col-xl-3" data-aos="fade" data-src="{{post.photo.url}}" data-sub-html="<h4>{{post.title}}</h4><p>{{post.content}}</p>">
                    <div class="video-card">
                        <div class="video-card-image">
                            <a class="play-icon" href="#"><i class="fas fa-images"></i></a>
                            <a href="#"><img height="163" width="100%" src="{{ post.photo.url }}" alt=""></a>
                        </div>
                        <div class="video-card-body">
                            <div class="video-title">
                                <a href="{% url 'post_detail' post.id %}">{{post.title}}</a>
                            </div>
                            <div class="video-page text-success">
                                {{post.category}} <a title="" data-placement="top" data-toggle="tooltip" href="#" data-original-title="Verified"><i class="fas fa-check-circle text-success"></i></a>
                            </div>
                            <div class="video-view">
                                {{post.total_likes}} likes&nbsp;<i class="fas fa-calendar-alt"></i> {{ post.date_posted }}
                            </div>
                        </div>
                    </div>
                </div>
                {% else %}
                 <div class="col-sm-6 col-md-4 col-lg-4 col-xl-3" data-aos="fade" data-src="{{post.photo.url}}" data-sub-html="<h4>{{post.title}}</h4><p>{{post.content}}</p>">
                    <div class="video-card">
                        <div class="video-card-image">
                            <a class="play-icon" href="#"><i class="fas fa-images"></i></a>
                            <a href="#"><img height="163" width="100%" src="/static/img/brana.PNG" alt=""></a>
                        </div>
                        <div class="video-card-body">
                            <div class="video-title">
                                <a href="{% url 'post_detail' post.id %}">{{post.title}}</a>
                            </div>
                            <div class="video-page text-success">
                                {{post.category}} <a title="" data-placement="top" data-toggle="tooltip" href="#" data-original-title="Verified"><i class="fas fa-check-circle text-success"></i></a>
                            </div>
                            <div class="video-view">
                                {{post.total_likes}} likes&nbsp;<i class="fas fa-calendar-alt"></i> {{ post.date_posted }}
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
                {% endfor %}
            </div>
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center pagination-sm mb-0">
                    <li class="page-item disabled">
                        <a tabindex="-1" href="#" class="page-link">Previous</a>
                    </li>
                    <li class="page-item active"><a href="#" class="page-link">1</a></li>
                    <li class="page-item"><a href="#" class="page-link">2</a></li>
                    <li class="page-item"><a href="#" class="page-link">3</a></li>
                    <li class="page-item">
                        <a href="#" class="page-link">Next</a>
                    </li>
                </ul>
            </nav>
            {% if is_paginated %} {% if page_obj.has_previous %}
            <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
            <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a> {% endif %} {% for num in page_obj.paginator.page_range %} {% if page_obj.number == num %}
            <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a> {% elif num > page_obj.number|add:'-3' and num
            < page_obj.number|add: '3' %} <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
                {% endif %} {% endfor %} {% if page_obj.has_next %}
                <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
                <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a> {% endif %} {% endif %}
        </div>
    </div>
    <!-- /.container-fluid -->
    <!-- Sticky Footer -->
    <footer class="sticky-footer ml-0">
            <div class="row no-gutters">
                <p class="mt-1 mb-0"><strong class="text-dark">Branagram</strong>.
                    <small class="mt-0 mb-0"><a target="_blank" href="#">Term and policy.</a>
                    </small>
                </p>
            </div>
    </footer>
</div>
<!-- /.content-wrapper -->
{% endblock content %}